
@{
    ViewBag.Title = "Index";
}

<div class="banner">
    <!-- start search-->
    <div class="search-box">
        <div id="sb-search" class="sb-search">
            <form>
                <input class="sb-search-input" placeholder="回车输入歌曲名称 ..." type="search" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
            </form>
        </div>
    </div>
    <!----search-scripts---->
    @Scripts.Render("~/js/classie");
    @Scripts.Render("~/js/uisearch");
    <script>
        new UISearch(document.getElementById('sb-search'));
    </script>
    <!----//search-scripts---->
    <div class="container">
        <div class="banner-info">
            <h1>Music</h1>
            <p>为你提供海量正版高品质音乐,快速的新歌速递,人性化的歌曲搜索<br>让你更快地找到喜爱的音乐 </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="logo">
                <h2><a href="index.html">音乐商城</a></h2>
            </div>
            <nav class="navbar navbar-default menu" role="navigation">
                <h3 class="nav_right"><a href="index.html">Melody</a></h3>
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu1">
                            <li class="active"><a href="index.html">首页<i class="menu-border"></i></a></li>
                            <li><a href="about.html">资讯</a></li>
                            <li><a href="album.html">歌曲</a></li>
                            <li><a href="artists.html">歌手</a></li>
                            <li><a href="typography.html">我的</a></li>
                            @*<li><a href="contact.html">Contact</a></li>*@
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main">
    <div class="row content_top">
        <div class="col-md-3 col3">
            <div class="wrap_banner">
                <a href="#" class="fa-btn btn-1 btn-1e">购买单曲</a>
                <p>选择你想要的单曲</p>
            </div>
        </div>
        <div class="col-md-6 col6">
            <div class="wrap_banner1">
                <h3>Animenz<br> Unravel 钢琴版 </h3>
                <p>大家好，已经有很多人改编这首曲子了，但是没看到有人写完整版的乐谱。这首曲子是我最难的三个改编之一，需要很高的协调性。同时，这是我的一个高还原改编，还原度99.9%。</p>
            </div>
        </div>
        <div class="col-md-3 colast">
            <div class="wrap_banner2">
                <a href="#" class="fa-btn btn-1 btn-1e con_but">详细信息</a>
                <p>获取歌曲<br> 的更多详细信息</p>
            </div>
        </div>
    </div>
    <div class="bottom-grids">
        <div class="col-md-4 col4">
            <a href="#">
                <div class="bottom-grid1">
                    <span>
                        <div class="blur">
                            <p class="sales">¥7</p>
                            <p class="ban1_text1">TaylorSwift新单《ME！》全球上线</p>
                        </div>
                        <i class="fa fa-microphone-slash icon_2"></i>
                        <div class="clearfix"> </div>
                    </span>
                </div>
            </a>
            <a href="#">
                <div class="bottom-left-grid2">
                    <span>
                        <div class="blur">
                            <p class="sales">¥7.9</p>
                            <p class="ban1_text1">《LOVE LIVE！school idol project》歌曲合集</p>
                        </div>
                        <i class="fa fa-microphone-slash icon_2"></i>
                        <div class="clearfix"> </div>
                    </span>
                </div>
            </a>
            <div class="feature_bg">
                <i class="fa fa-heart icon_1"></i>
                <div class="clearfix"> </div>
                <div class="service">
                    <h3>Services</h3>
                    <p> qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
                </div>
            </div>
            <div class="extra_wrap">
                <div class="extra_wrap1">
                    <ul class="gift span5">
                        <i class="fa fa-thumbs-o-up icon_3"></i>
                        <li class="gift_desc">
                            <h4><a href="#">新歌榜</a></h4>
                            <p>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</p>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="gift">
                        <i class="fa fa-calendar-o icon_3"></i>
                        <li class="gift_desc">
                            <h4><a href="#">Give us your Feedback</a></h4>
                            <p>KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK</p>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="but_service">
                    <a href="#" class="btnc btn-c btn-1c">View All Services</a>
                </div>
            </div>
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div>
        <div class="col-md-4 bottom-grid2 ">
            <div class="bottom-grid2 bottom-mid">
                <div class="feature_bg">
                    <i class="fa fa-frown-o icon_1"></i>
                    <div class="clearfix"> </div>
                    <div class="feature">
                        <h2>《ME！》</h2>
                        <p> 经历reputation后的霉霉褪去黑白，<br>找回色彩，更找回了自己(ME!)</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"></h4>如果把rep比作风雨<br>那么TS7便是雨后天晴的彩虹<br> 那个完成蜕变<br>成熟自信强大的蝴蝶<br>准备好迎接这个全新的她了吗？</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                           </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/2.jpg")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">《ME！》作为TS7首单是一首接纳自己，拥抱自己的歌，精致的节奏和抓耳的旋律也让我们心动且欲罢不能。</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h4>BLACKPINK<br>终于确定<br>于4月5日回归</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                                <a href="#" class="fa-btn1 btn-2 btn-1e1">回归</a>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/1.jpeg")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">EP专辑名被定为与主打歌名相同的“KILL THIS LOVE”。这是自去年6月发表《DDU-DU DDU-DU》以来时隔九个月的再次回归。</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h3>标签：</h1><br>   ACG   日语<br>   流行   励志
                            <li class="s_cart">
                                <p class="price"> </p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/mic.png")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">《LOVE LIVE！school idol project》里μ's组合演唱的《Snow halation》登顶NHK评选的日本动画百年最佳动画歌曲top100.且多次入围各大歌曲大赏奖项</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>hhhhhhhhhhhhhhhhhhhhhhh</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/stream.png")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">44444444444444444444444444444444444444444444444</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top product_grid">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>llllllllllllllllllll</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                                <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="../../Areas/Home/Content/images/ipod.png" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">55555555555555555555555555555555555555555555555555</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 bottom-last">
            <a href="#">
                <div class="bottom-right_grid2">
                    <span>
                        <div class="blur">
                            <p class="sales">¥5.9</p>
                            <p class="ban1_text1">YG Entertainment于25日通过官方SNS公开了LISA的海报，并正式宣告BLACKPINK的回归。</p>
                        </div>
                        <i class="fa fa-microphone-slash icon_2"></i>
                        <div class="clearfix"> </div>
                    </span>
                </div>
            </a>
            <div class="feature_bg">
                <i class="fa fa-trophy icon_1"></i>
                <div class="clearfix"> </div>
                <div class="service">
                    <h3>μ'sic forever!</h3>
                    <p>ლ(╹◡╹ლ)不来听听看吗</p>
                </div>
            </div>
            <div class="feature_desc">
                <p>
                    《LOVE LIVE！》讲述了一家位于东京都千代田区的传统学校“音乃木坂学院”（音丿木阪）因为生源骤减而面临废校的危机，为了保护自己喜爱的这个校园，9名性格鲜明的美少女决定一起走上成为偶像的道路，希望能以偶像的名气增加生源挽救学校——少女们努力奋斗，手牵手一起成就梦想的故事。
                    位于东京都千代田区的传统高校“音乃木阪学院”，因为入读的学生人数骤减，所以正面临着废校的危机。其中九位少女为了保护她们喜爱的学校而决定成为偶像，因为只要她们成为偶像，学校的名气便会増加，而入读学生的人数也会随之上升。就这样，九位个性鲜明的少女开始朝着她们的偶像之路而努力迈进了！
                </p>
            </div>
            <div class="feature_bg">
                <i class="fa fa-thumbs-up icon_1"></i>
                <div class="clearfix"> </div>
                <div class="service">
                    <h3>Articles</h3>
                    <p> Eodem modo typi, qui nunc nobis videntur.</p>
                </div>
            </div>
            <div class="article_grid">
                <ul class="article_box">
                    <li class="article_img"><img src="@CommonHelpers.UrlToContent("images/a1.jpg")" class="img-responsive" alt="" /></li>
                    <li class="article_desc">
                        <h5><a href="#">Eodem modo typi</a></h5>
                        <p>6666666666666666666666666666666666666666666 euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                        <a href="#" class="link">Read More</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul class="article_box">
                    <li class="article_img"><img src="@CommonHelpers.UrlToContent("images/a2.jpg")" class="img-responsive" alt="" /></li>
                    <li class="article_desc">
                        <h5><a href="#">Eodem modo typi</a></h5>
                        <p>77777777777777777777777777777777777777777777 euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                        <a href="#" class="link">Read More</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="but_article">
                <a href="#" class="btnc btn-c btn-1c">View All Services</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="promo">
        <div class="container">
            <h3>Upcoming Events</h3>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Contrary to </span> / 12 August 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$125</span> / 0 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button soldout">Sold Out</a></div>
            </div>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>The standard</span> / 20 October 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button">Buy Ticket</a></div>
            </div>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Majority have </span> / 22 August 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$175</span> / 0 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button soldout">Cancelled</a></div>
            </div>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Internet tend  </span> / 02 October 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button">Buy Ticket</a></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-grid">
                <h3>Explore More</h3>
                <ul class="list1">
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">All Albums</a></li>
                    <li><a href="#">Browse Events</a></li>
                    <li><a href="#">Products</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Information</h3>
                <ul class="list1">
                    <li><a href="#">Galleries</a></li>
                    <li><a href="#">Events Archive</a></li>
                    <li><a href="#">Events Albums</a></li>
                    <li><a href="#">Tour Videos</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>My Account</h3>
                <ul class="list1">
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Personal Information</a></li>
                    <li><a href="#">Addresses</a></li>
                    <li><a href="#">Discount</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Follow Us</h3>
                <ul class="social">
                    <li><a href=""><i class="fa fa-facebook"> </i></a></li>
                    <li><a href=""><i class="fa fa-twitter"> </i></a></li>
                    <li><a href=""><i class="fa fa-pinterest"> </i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"> </i></a></li>
                </ul>
                <p>88888888888888888888888888888888888888888888888888888888888 euismod tincidunt</p>
            </div>
            <div class="footer-grid last_grid">
                <h4>Subscribe to our Newsletter</h4>
                <form>
                    <input type="text" value="Your Email Address" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Your Email Address';}">
                    <input type="submit" value="Go">
                </form>
                <h5>Call Team<br>Ipsum available</h5>
                <h6>1.800.258.2578</h6>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <p class="copy">Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></p>
        </div>
    </div>
</div>

