
@{
    ViewBag.Title = "Index";
}

@Html.Partial("BannerPartial")
<div class="main">
    <div class="row content_top">
        
        <div class="col-md-3 col3">
            <div class="wrap_banner">
                <a href="#" class="fa-btn btn-1 btn-1e">购买单曲</a>
                <p>选择你想要的单曲</p>
            </div>
        </div>
        <div class="col-md-6 col6">
            <div class="wrap_banner1">
                <video src="~/UploadFiles/videos/Av1989613.mp4" controls="controls" style="height: 100%; width : 100%;">
                    您的浏览器不支持 video 标签。
                </video>
                
            </div>
        </div>
        <div class="col-md-3 colast">
            <div class="wrap_banner2">
                <a href="#" class="fa-btn btn-1 btn-1e con_but">详细信息</a>
                <p>获取歌曲<br> 的更多详细信息</p>
            </div>
        </div>
    </div>
    <div class="bottom-grids">
        <div class="col-md-4 col4">
            <a href="#">
                <div class="bottom-grid1">
                    <span>
                        <div class="blur">
                            <p class="sales">¥7</p>
                            <p class="ban1_text1">凹凸世界第三季上线了！</p>
                        </div>
                        <i class="fa fa-microphone-slash icon_2"></i>
                        <div class="clearfix"> </div>
                    </span>
                </div>
            </a>
            <a href="#">
                <div class="bottom-left-grid2">
                    <span>
                        <div class="blur">
                            <p class="sales">¥7.9</p>
                            <p class="ban1_text1">《LOVE LIVE！school idol project》歌曲合集</p>
                        </div>
                        <i class="fa fa-microphone-slash icon_2"></i>
                        <div class="clearfix"> </div>
                    </span>
                </div>
            </a>
            <div class="feature_bg">
                <i class="fa fa-heart icon_1"></i>
                <div class="clearfix"> </div>
                <div class="service">
                    <h3>Services</h3>
                    <p> qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
                </div>
            </div>
            <div class="extra_wrap">
                <div class="extra_wrap1">
                    <ul class="gift span5">
                        <i class="fa fa-thumbs-o-up icon_3"></i>
                        <li class="gift_desc">
                            <h4><a href="#">新歌榜</a></h4>
                            <p>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</p>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="gift">
                        <i class="fa fa-calendar-o icon_3"></i>
                        <li class="gift_desc">
                            <h4><a href="#">Give us your Feedback</a></h4>
                            <p>KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK</p>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="but_service">
                    <a href="#" class="btnc btn-c btn-1c">View All Services</a>
                </div>
            </div>
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div>
        <div class="col-md-4 bottom-grid2 ">
            <div class="bottom-grid2 bottom-mid">
                <div class="feature_bg">
                    <i class="fa fa-frown-o icon_1"></i>
                    <div class="clearfix"> </div>
                    <div class="feature">
                        <h2>《Do The Fight》</h2>
                        <p>《凹凸世界》第三季OP</p>
                    </div>
                </div>
                <div class="products">
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"></h4>凹凸世界<br>英文译名Aotu World<br> 是一部国产原创3D动画<br><br></p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/2.jpg")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">《昨日的未来》是凹凸世界第三季的ED，也一起上线了，感兴趣一起听听吧。</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h4>解散前<br>最后一曲<br>回归主打曲《春风》</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                                <a href="#" class="fa-btn1 btn-2 btn-1e1"></h3>→</a>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/8.jpg")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">2019年1月5日，获得第33届金唱片奖最佳男子团体奖。1月24日至27日，在韩国首尔高尺天空巨蛋举行告别演唱会《2019 Wanna One Concert》，随后，WANNA ONE组合正式解散。</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h1>标签：<h2><br>   ACG   日语<br>   流行   励志
                            <li class="s_cart">
                                <p class="price"> </p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/mic.png")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">《LOVE LIVE！school idol project》里μ's组合演唱的《Snow halation》登顶NHK评选的日本动画百年最佳动画歌曲top100.且多次入围各大歌曲大赏奖项</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>hhhhhhhhhhhhhhhhhhhhhhh</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/stream.png")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">44444444444444444444444444444444444444444444444</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="product_top product_grid">
                        <ul class="product_title titlelast">
                            <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>llllllllllllllllllll</p></li>
                            <li class="s_cart">
                                <p class="price"> </p>
                                <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="product_title">
                            <li class="s_head"><img src="@CommonHelpers.UrlToContent("images/ipod.png")" class="img-responsive" alt="" /></li>
                            <li class="s_cart"><p class="m_1">55555555555555555555555555555555555555555555555555</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 bottom-last">
            <a href="#">
                <div class="bottom-right_grid2">
                    <span>
                        <div class="blur">
                            <p class="sales">¥5.9</p>
                            <p class="ban1_text1">2019年1月，在韩国首尔举行告别演唱会，wanna one正式解散。</p>
                        </div>
                        <i class="fa fa-microphone-slash icon_2"></i>
                        <div class="clearfix"> </div>
                    </span>
                </div>
            </a>
            <div class="feature_bg">
                <i class="fa fa-trophy icon_1"></i>
                <div class="clearfix"> </div>
                <div class="service">
                    <h3>μ'sic forever!</h3>
                    <p>ლ(╹◡╹ლ)不来听听看吗</p>
                </div>
            </div>
            <div class="feature_desc">
                <p>
                    《LOVE LIVE！》讲述了一家位于东京都千代田区的传统学校“音乃木坂学院”（音丿木阪）因为生源骤减而面临废校的危机，为了保护自己喜爱的这个校园，9名性格鲜明的美少女决定一起走上成为偶像的道路，希望能以偶像的名气增加生源挽救学校——少女们努力奋斗，手牵手一起成就梦想的故事。
                    位于东京都千代田区的传统高校“音乃木阪学院”，因为入读的学生人数骤减，所以正面临着废校的危机。其中九位少女为了保护她们喜爱的学校而决定成为偶像，因为只要她们成为偶像，学校的名气便会増加，而入读学生的人数也会随之上升。就这样，九位个性鲜明的少女开始朝着她们的偶像之路而努力迈进了！
                </p>
            </div>
            <div class="feature_bg">
                <i class="fa fa-thumbs-up icon_1"></i>
                <div class="clearfix"> </div>
                <div class="service">
                    <h3>Articles</h3>
                    <p> Eodem modo typi, qui nunc nobis videntur.</p>
                </div>
            </div>
            <div class="article_grid">
                <ul class="article_box">
                    <li class="article_img"><img src="@CommonHelpers.UrlToContent("images/a1.jpg")" class="img-responsive" alt="" /></li>
                    <li class="article_desc">
                        <h5><a href="#">Eodem modo typi</a></h5>
                        <p>6666666666666666666666666666666666666666666 euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                        <a href="#" class="link">Read More</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul class="article_box">
                    <li class="article_img"><img src="@CommonHelpers.UrlToContent("images/a2.jpg")" class="img-responsive" alt="" /></li>
                    <li class="article_desc">
                        <h5><a href="#">Eodem modo typi</a></h5>
                        <p>77777777777777777777777777777777777777777777 euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                        <a href="#" class="link">Read More</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="but_article">
                <a href="#" class="btnc btn-c btn-1c">View All Services</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="promo">
        <div class="container">
            <h3>个性推荐</h3>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Contrary to </span> / 12 August 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$125</span> / 0 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button soldout">Sold Out</a></div>
            </div>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>The standard</span> / 20 October 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button">Buy Ticket</a></div>
            </div>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Majority have </span> / 22 August 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$175</span> / 0 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button soldout">Cancelled</a></div>
            </div>
            <div class="event_box">
                <div class="event">
                    <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
                </div>
                <div class="location">
                    <span class="bold"><i class="fa fa-map-marker"></i>Internet tend  </span> / 02 October 2015
                </div>
                <div class="ticket">
                    <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
                </div>
                <div class="button-wrap"><a href="#" class="def-button">Buy Ticket</a></div>
            </div>
        </div>
    </div>
    
    @Html.Partial("FooterPartial")
</div>

