@model List<MusicMall.Models.t_singer>
@{
    ViewBag.Title = "Index";
}
@Html.Partial("BannerPartial")
@Scripts.Render("~/js/chocolat")
@Styles.Render("~/css/chocolat")
<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.about-grid a').Chocolat({linkImages:false});
	});
</script>
<div class="about_grid1">
    <div class="container">
        <div class="artist_1">
            @foreach (var item in Model)
            {
                <div class="col-sm-3 about-grid">
                    <a href="@CommonHelpers.ImageUrl(item.img)" title="@item.name" rel="title2">
                        <div class="view view-first">
                            <img src="@CommonHelpers.ImageUrl(item.img)" class="img-responsive" alt="" style="width : 255px; height: 255px" />
                        </div>
                    </a>
                    <div class="info1 clearfix">
                        <i class="fa fa-user"></i>
                        <h5>@item.name</h5>
                        <p>@item.stageName</p>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
            @*<div class="artist_2">
            <div class="col-sm-3 about-grid">
                <a href="images/e5.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="images/e5.jpg" class="img-responsive" alt="" />
                    </div>
                </a>
                <div class="info1 clearfix">
                    <i class="fa fa-user"></i>
                    <h5>Lorem Ipsum</h5>
                    <p>variations, R&amp;B</p>
                </div>
            </div>
            <div class="col-sm-3 about-grid">
                <a href="images/e6.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="images/e6.jpg" class="img-responsive" alt="" />
                    </div>
                </a>
                <div class="info1 clearfix">
                    <i class="fa fa-user"></i>
                    <h5>Lorem Ipsum</h5>
                    <p>variations, R&amp;B</p>
                </div>
            </div>
            <div class="col-sm-3 about-grid">
                <a href="images/e7.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="images/e7.jpg" class="img-responsive" alt="" />
                    </div>
                </a>
                <div class="info1 clearfix">
                    <i class="fa fa-user"></i>
                    <h5>Lorem Ipsum</h5>
                    <p>variations, R&amp;B</p>
                </div>
            </div>
            <div class="col-sm-3 about-grid">
                <a href="images/pic6.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="images/pic6.jpg" class="img-responsive" alt="" />
                    </div>
                </a>
                <div class="info1 clearfix">
                    <i class="fa fa-user"></i>
                    <h5>Lorem Ipsum</h5>
                    <p>variations, R&amp;B</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>*@
        </div>
    </div>
    @Html.Partial("FooterPartial")
