@using MusicMall.Models;
@{
    ViewBag.Title = "Create";
}

<div class="x-body">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>歌曲名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="album" class="layui-form-label">
                <span class="x-red">*</span>专辑
            </label>
            <div class="layui-input-inline">
                <input type="text" id="album" name="album" required="" lay-verify="album"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="lyrics" class="layui-form-label">
                <span class="x-red">*</span>作词
            </label>
            <div class="layui-input-inline">
                <input type="text" id="lyrics" name="lyrics" required="" lay-verify="lyrics"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="compose" class="layui-form-label">
                <span class="x-red"></span>作曲
            </label>
            <div class="layui-input-inline">
                <input type="text" id="compose" name="compose" required="" lay-verify="compose"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="arranger" class="layui-form-label">
                <span class="x-red">*</span>编曲
            </label>
            <div class="layui-input-inline">
                <input type="text" id="arranger" name="arranger" required="" lay-verify="arranger"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="singer" class="layui-form-label">
                <span class="x-red"></span>演唱者
            </label>
            <div class="layui-input-inline">
                <input type="text" id="singer" name="singer" required="" lay-verify="singer"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="summationTone" class="layui-form-label">
                <span class="x-red">*</span>和音
            </label>
            <div class="layui-input-inline">
                <input type="text" id="summationTone" name="summationTone" required="" lay-verify="summationTone"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="musicalInstruments" class="layui-form-label">
                <span class="x-red"></span>乐器
            </label>
            <div class="layui-input-inline">
                <input type="text" id="musicalInstruments" name="musicalInstruments" required="" lay-verify="musicalInstruments"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="IssueDate" class="layui-form-label">
                <span class="x-red"></span>发行日期
            </label>
            <div class="layui-input-inline">
                <input type="text" id="IssueDate" name="IssueDate" required="" lay-verify="IssueDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="language" class="layui-form-label">
                <span class="x-red">*</span>语言
            </label>
            <div class="layui-input-inline">
                <input type="text" id="language" name="language" required="" lay-verify="language"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="duration" class="layui-form-label">
                <span class="x-red"></span>时长
            </label>
            <div class="layui-input-inline">
                <input type="text" id="duration" name="duration" required="" lay-verify="duration"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="explain" class="layui-form-label">
                <span class="x-red">*</span>简介
            </label>
            <div class="layui-input-inline">
                <input type="text" id="explain" name="explain" required="" lay-verify="explain"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="img" class="layui-form-label">
                <span class="x-red">*</span>图片
            </label>
            <div class="layui-input-inline">
                <input type="text" id="img" name="img" required="" lay-verify="img"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="files" class="layui-form-label">
                <span class="x-red"></span>文件路径
            </label>
            <div class="layui-input-inline">
                <input type="text" id="files" name="files" required="" lay-verify="files"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="explain" class="layui-form-label">
                <span class="x-red">*</span>简介
            </label>
            <div class="layui-input-inline">
                <input type="text" id="explain" name="explain" required="" lay-verify="explain"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="L_role" class="layui-form-label">
                <span class="x-red">*</span>用户身份
            </label>
            <div class="layui-input-inline">
                <select name="role">
                    @foreach (var item in EnumConfig.Role)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>用户状态</label>
            <div class="layui-input-inline">
                <select name="status">
                    @foreach (var item in EnumConfig.Status)
                    {
                        <option value="@item.Key.ToString()">@item.Value</option>
                    }
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                增加用户
            </button>
        </div>

    </form>
        </div>
        <script>
layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
              //发异步
              $.post('@Url.Action("create")', data.field, function (result) {
                  if (result.State == "ok") {
                      layer.alert("增加成功", { icon: 6 }, function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                  }
                  else {
                      layer.alert(result.Message, { icon: 6 }, function (index) {
                          layer.close(index);
                      });
                  }
              });


            return false;
          });


        });</script>

