@using MusicMall.Models;
@model MusicMall.Models.t_music
@{
    ViewBag.Title = "Edit";
}


<div class="x-body">
    <form class="layui-form">
        <input type="hidden" value="@Model.id" />
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>歌曲名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="nubmer"
                       autocomplete="off" class="layui-input" value="@Model.name">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>登陆账号
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_album" class="layui-form-label">
                <span class="x-red"></span>专辑
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_album" name="album" required="" lay-verify="number"
                       autocomplete="off" class="layui-input" value="@Model.album">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_lyrics" class="layui-form-label">
                <span class="x-red"></span>作词
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_lyrics" name="lyrics" required="" lay-verify="lyrics"
                       autocomplete="off" class="layui-input" value="@Model.lyrics">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_compose" class="layui-form-label">
                <span class="x-red"></span>作曲
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_compose" name="compose" required="" lay-verify="compose"
                       autocomplete="off" class="layui-input" value="@Model.lyrics">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_arranger" class="layui-form-label">
                <span class="x-red"></span>编曲
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_arranger" name="arranger" required="" lay-verify="arranger"
                       autocomplete="off" class="layui-input" value="@Model.arranger">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_singer" class="layui-form-label">
                <span class="x-red"></span>演唱者
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_singer" name="singer" required="" lay-verify="singer"
                       autocomplete="off" class="layui-input" value="@Model.singer">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_summationTone" class="layui-form-label">
                <span class="x-red"></span>和音
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_summationTone" name="summationTone" required="" lay-verify="summationTone"
                       autocomplete="off" class="layui-input" value="@Model.summationTone">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_musicalInstruments" class="layui-form-label">
                <span class="x-red"></span>乐器
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_musicalInstruments" name="musicalInstruments" required="" lay-verify="musicalInstruments"
                       autocomplete="off" class="layui-input" value="@Model.musicalInstruments">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_IssueDate" class="layui-form-label">
                <span class="x-red"></span>发行日期
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_IssueDate" name="IssueDate" required="" lay-verify="IssueDate"
                       autocomplete="off" class="layui-input" value="@Model.IssueDate">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_language" class="layui-form-label">
                <span class="x-red"></span>语言
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_language" name="language" required="" lay-verify="language"
                       autocomplete="off" class="layui-input" value="@Model.language">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="L_duration" class="layui-form-label">
                <span class="x-red"></span>时长
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_duration" name="duration" required="" lay-verify="duration"
                       autocomplete="off" class="layui-input" value="@Model.duration">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_explain" class="layui-form-label">
                <span class="x-red"></span>说明（简介）
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_explain" name="explain" required="" lay-verify="explain"
                       autocomplete="off" class="layui-input" value="@Model.explain">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                修改歌名
            </button>
        </div>

    </form>
</div>
<script>
layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
              //发异步
              $.post('@Url.Action("Edit")', data.field, function (result) {
                  if (result.State == "ok") {
                      layer.alert("修改成功", { icon: 6 }, function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                  }
                  else {
                      layer.alert(result.Message, { icon: 5 }, function (index) {
                          layer.close(index);
                      });
                  }
              });


            return false;
          });


        });</script>




